# Sagan arp.rules
# Copyright (c) 2009-2017, Quadrant Information Security <www.quadrantsec.com>
# All rights reserved.
#
# Please submit any custom rules or ideas to sagan-submit@quadrantsec.com or the sagan-sigs mailing list
#
#*************************************************************
#  Redistribution and use in source and binary forms, with or without modification, are permitted provided that the
#  following conditions are met:
#
#  * Redistributions of source code must retain the above copyright notice, this list of conditions and the following
#    disclaimer.
#  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
#    following disclaimer in the documentation and/or other materials provided with the distribution.
#  * Neither the name of the nor the names of its contributors may be used to endorse or promote products derived
#    from this software without specific prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS AS IS AND ANY EXPRESS OR IMPLIED WARRANTIES,
#  INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
#  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
#  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
#  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
#  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
#  USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#*************************************************************

# "arpalert" rules - http://www.arpalert.org

alert any $EXTERNAL_NET any -> $HOME_NET any (msg: "[ARP] arpalert - Detected new machine on the network"; content: "type=new"; classtype: suspicious-traffic; program: arpalert; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5000060; sid: 5000060; rev:4;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpalert - Detected ip change"; content: "type=ip_change"; classtype: suspicious-traffic; program: arpalert; normalize; reference: url,wiki.quadrantsec.com/bin/view/Main/5000061; sid: 5000061; rev: 4;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpalert - Detected new machine on the network [mac-new]"; content: "type=new_mac"; classtype: suspicious-traffic; program: arpalert; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001079; sid: 5001079; rev:3;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpalert - MAC address flood"; content: "type=flood"; classtype: suspicious-traffic; program: arpalert; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001080; sid: 5001080; rev:3;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpalert - MAC address blacklisted"; content: "type=black_listed"; classtype: suspicious-traffic; program: arpalert; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001081; sid: 5001081; rev:3;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpalert - MAC address changed"; content: "type=mac_changed"; classtype: suspicious-traffic; program: arpalert; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001082; sid: 5001082; rev:3;)


# "arpwatch" rules - http://en.wikipedia.org/wiki/Arpwatch

alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Detected new machine on the network"; content: "new station"; classtype: suspicious-traffic; program: arpwatch; parse_src_ip: 1; peference: url,wiki.quadrantsec.com/bin/view/Main/5000062; sid: 5000062; rev:4;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - 'flip flop' message."; content: "flip flop "; classtype: suspicious-traffic; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5000063; sid: 5000063; rev:2;)
#alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Exiting"; content: "reaper|3a| pid"; classtype: program-error; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5000064; sid: 5000064; rev:3;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Changed network interface for IP address"; content: "changed ethernet address"; classtype: suspicious-traffic; program: arpwatch; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5000065; sid: 5000065; rev:5; )
#alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Startup/Exiting message"; pcre: "/exiting|Running as/"; classtype: not-suspicious; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5000066; sid: 5000066; rev:2;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Detected bad address len - ignored"; content: "sent bad addr len"; classtype: network-event; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5000067; sid: 5000067; rev:2;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - New activity [new machine]"; content: "new activity"; classtype: network-event; program: arpwatch; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001061; sid: 5001061; rev:4;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Broadcast address detected"; content: "ethernet broadcast"; classtype: network-event; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5001062; sid: 5001062; rev:2;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Bogus IP address detected"; content: " bogon "; classtype: network-event; program: arpwatch; reference: url,wiki.quadrantsec.com/bin/view/Main/5001063; sid: 5001063; rev:2;)
alert any $EXTERNAL_NET any -> $HOME_NET any (msg:"[ARP] arpwatch - Ethernet mismatch [MAC != ARP]"; content: " ethernet mismatch "; classtype: network-event; program: arpwatch; parse_src_ip: 1; reference: url,wiki.quadrantsec.com/bin/view/Main/5001064; sid: 5001064; rev:3;)

